body {
  background-color: lightgrey;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: black;
}

#board {
  margin: 0 auto;
  background-color: black;
  width: 325px;
  height: 320px;
}

.square {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: white;
  margin: 1px;
}

.square:hover {
  background-color: lightgrey;
}

#resetButton {
  display: none;
  margin: 0 auto;
  padding: 10px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: 2px solid white;
  cursor: pointer;
}
